<div>
  <div class="container">
    <div>
     <label >Add some tasks to the list:</label><br>
     <input [(ngModel)]="newTask">
     <button (click)="add()">Add task</button>
    </div>
  </div>

  <div class="container">
    <div>
      My To Do List:
      <ng-container *ngIf="tasksList.length > 0; else noTask">
      <ul>
        <li *ngFor="let task of tasksList">
          {{ task }}
          <button (click) = "remove(task)">Remove</button>
          <button (click) = "done(task)">Task Done</button>
        </li>
      </ul>
      </ng-container>
      <ng-template #noTask>
        <p>No tasks to do, have a rest! :)</p>
      </ng-template>
    </div>

    
    <div>
      <p>Tasks acomplished: {{ tasksDone.length }}</p>
      <ul>
        <li *ngFor="let task of tasksDone">
          {{ task }}
        </li>
      </ul>
    </div>

  </div>

</div>
